

#back{
    position: absolute;
    top: 60px;
    right: 50px;
    font-size: 1.8em;
}


#sliderw{
    top: 140px;
    /*width:1064px;*/
    width:1440px;
    /*width: 1576px;*/
    height:384px;
    border:5px solid black;
    margin: 50px auto;
    overflow:hidden;
    position: relative;
    border-radius: 20px;
}

#polosaw{
            /*background:pink;*/
    width: 0;
    left:0;
    position:relative;
    transition:all ease 1s;
}

#polosaw:after{
    content:"";
    display:block;
    clear:both;
}
button#slider-leftw{
    position: absolute;
    top: 650px;
    font-size: 3.8em;
        left: 800px;
        font-weight: bold;
        color: white;
        border-color: black;
        border-width: 5px;
        border-radius: 20px;
        background-color: rgba(8, 105, 21, 0.5);
        color:rgba(249, 247, 248, 0.9);
}
div .trainword {
    height: 384px;
    /*width: 512px; !* Ширина *!*/
    width: 700px; /* Ширина */
    padding: 0 10px; /* Поля */
    /*font-size: 2em;*/
    font-weight: bold;
    text-align: center;
    position: relative;
    background: rgba(182, 13, 106, 0.3);
    /*background: rgba(182, 13, 106, 0);*/
    color: #4954fd;
}

div .trainword:hover{
    background: rgba(182, 13, 106, 0.4);

}

#polosaw div{
    float: left;
}

fieldset:nth-child(odd) {
    float: left; /* Обтекание для всех нечётных элементов */
}


.out{
    /*width: 512px;*/
    width: 700px;
    height: 384px;
    border: 0px;
    position: relative;
    overflow: hidden;
    padding: 0 10px; /* Поля */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.in1, .in2{
    /*width: 512px;*/
    width: 700px;
    height: 384px;
    position: absolute;
    left:0;
    top:0;
    overflow: hidden;
    transition: all ease 1000ms;
}

/*.in2{*/
/*    background: rgba(182, 13, 106, 0.3);*/
/*}*/
/*.in1{*/
/*    background: rgba(182, 13, 106, 0.3);*/
/*}*/

.rus{
    font-size: 3em;
    position: absolute;
    top: 125px;
    /*left: 190px;*/
    left: 140px;
    color: rgba(0, 0, 0, 0);

}

 .in1:hover span  {
    color:#4954fd;
}
.eng{
    font-size: 3em;
    position: absolute;
    top: 125px;
    /*left: 200px;*/
    left: 175px;
    color: #4954fd;

}