<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Style" content="text/html" />
    <title>LearningWords</title>
    <link href="../static/css/learnstyle.css" th:href="@{/css/learnstyle.css}" rel="stylesheet" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</head>
<body>
<!--<h1>Learning Words</h1>-->


    <div id="sliderw">
        <div id="polosaw">
            <div   th:each="word: ${words}" >
<!--                    <fieldset>-->
<!--                        <p><span  th:text="${word.eng}" >&lt;!&ndash;<p>eword</p>&ndash;&gt;</span></p>-->
<!--                    </fieldset>-->

<!--                //Previous variant-->

                    <div class="trainword">
<!--                        <p><span class="eng"  th:text="${word.eng}" ></span>-->
<!--                        <p><span  class="rus" th:text="${word.rus}"></span></p>-->
<!--                        </p>-->

                        <div class="out" >
                            <div class="in1"><span class="rus" th:text="${word.rus}"></span></div>
                            <div class="in2"><span class="eng" th:text="${word.eng}" ></span></div>
                        </div>

                    </div>

            </div>

        </div>

    </div>
    <button id="slider-leftw">Next</button>



<form  th:action="@{/}"  method="get"  >
    <button class="specbutton"  id="back" type="submit">Back</button>
</form>

<br />

<!--                <div class="out" th:each="word: ${words}">-->
<!--                    <div class="in1"><span  th:text="${word.rus}"></span></div>-->
<!--                    <div class="in2"><span   th:text="${word.eng}" ></span></div>-->
<!--                </div>-->


</body>
</html>